body {
	background:#c5d9f9;
}
a#Home {
	position: absolute;
	left:0;
	margin-left:10px;
	text-decoration: none;
	background: #b19cd9;
	color:white;
	border: 5px solid #b19cd9;
}

a#Home:hover {
	color: #b19cd9;
	background: white;
	border: 5px solid white;
}

h1,
h4,
div#container,
input#deletebtn {
	position: relative;
	top:30px;

}

input {
	background:steelblue;
	border: 5px solid steelblue;
	color:white;
	position:relative;
}
input#deletebtn {
	border: 10px solid steelblue;
	border-radius: 10px;
	left:430px;
	transition:0.5s;
}
input#deletebtn:hover {
	border: 10px solid white;
	background:white;
	color:steelblue;
}

input#removebtn,
input#severbtn {
	position:relative;
	left:250px;
	bottom:35px;
	margin-right:20px;
	border-radius:10px;
	transition:0.5s;
}

input#removebtn:hover,
input#severbtn:hover {
	background:white;
	border: 5px solid white;
	color:steelblue;
	border-radius:10px;
}

h1, h4 {
	text-align: center;
}