html,body {
    color: black;
    padding-top: 15px;
    padding-left: 40px;
    padding-right:40px;
    font-family: 'Oswald', sans-serif;
    background:#c5d9f9;
}
a#homeButton {
    position: absolute;
    left:0;
    top:30px;
    margin-left:20px;
    text-decoration: none;
    background: #b19cd9;
    color:white;
    border: 10px solid #b19cd9;
    border-radius:5px;
    transition: 0.5s;
}

a#homeButton:hover {
    color: #b19cd9;
    background: white;
    border: 10px solid white;
}
div#content {
    text-align:center;
    position: relative;
    top:50px;
    left:450px;
    padding:10px;
    width:275px;
    border:3px solid white;
    border-radius:5px;
}
input#groupsel {
    background:white;
    border:none;
    margin-left:5px;
}
table,th, td {
    border: 1px solid white;
    background: #b19cd9;
}

#postTable {
    margin-top:20px;
    margin-left:40px;
}
ul {
    text-align: left;
}

/*        table#postTable {
    text-align: center;
    margin-left:200px;
}*/

.outer{
   border-style: solid;
   border-width: 5px;
   border-color: steelblue;
   width:500px;
   background-color:#b19cd9;
   text-align:center;
   position:center;
}

.centered{
   background-color:#b19cd9;
   width:500px;
   color:white;
   text-align:center;
   position:center;
}

.title{
   display: flex;
   border-color: steelblue;
   border-width: 4px;
   border-style: solid;
   border-top-width: 0px;
   border-left-width: 0px;
   border-right-width: 0px;
}
.name{
   width: 300px;
   background: #b19cd9;
   font-size: x-large;

}
.date{
   flex: 1;
   background: #b19cd9;
}


a#comments.btn{
    background-color: #b19cd9;
    color:white;
    position: relative;
    left:200px;
    text-decoration: none;
}
a#comments.btn:hover {
    background-color: #b19cd9;
    color:white;
}
a#logoutButton {
    position:absolute;
    top:30px;
    right:30px;
    text-decoration: none;
    background: #b19cd9;
    color:white;
    border: 10px solid #b19cd9;
    border-radius:5px;
    transition:0.5s;
}
a#logoutButton:hover {
    color: #b19cd9;
    background: white;
    border: 10px solid white;
}
h1 {
    text-align: center;
}
div#container {
    position:relative;
    left:300px;
}