body {
    background:#c5d9f9;
}
a#Home {
    position: absolute;
    left:0;
    margin-left:10px;
    text-decoration: none;
    background: #b19cd9;
    color:white;
    border: 5px solid #b19cd9;
}

a#Home:hover {
    color: #b19cd9;
    background: white;
    border: 5px solid white;
}
div#content {
    text-align:center;
    position: relative;
    top:50px;
    left:450px;
    padding:10px;
    width:275px;
    border:3px solid white;
    border-radius:5px;
}
input#groupsel {
    background:white;
    border:none;
    margin-left:5px;
}