html,body {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	background:#b19cd9;
}
button {
	border: none;
	background: #85b1f7;
	color:white;
	border: 5px solid #85b1f7;
	border-radius:5px;
	transition:0.5s;
}

button:hover {
	color:#85b1f7;
	border:5px solid white;
	background: white;
}

input#signUpButton{
	border: none;
	background: #85b1f7;
	color:white;
	border: 5px solid #85b1f7;
	border-radius:5px;
	margin: 4px;
	transition: 0.5s;
}

input#signUpButton:hover {
	color:#85b1f7;
	border:5px solid white;
	background: white;
}