html,body {
    font-family: 'Oswald', sans-serif;
    background:#c5d9f9;
}
a#homeButton {
    position: absolute;
    left:0;
    top:2%;
    margin-left:20px;
    text-decoration: none;
    background: #b19cd9;
    color:white;
    border: 10px solid #b19cd9;
    border-radius:5px;
    transition: 0.5s;
}

a#homeButton:hover {
    color: #b19cd9;
    background: white;
    border: 10px solid white;
}

div#container {
    position: relative;
    top:10%;
}
h1 {
    text-align: center;
}
div.outer {
    position:relative;
    left:45%;
    margin-bottom:5px;
}
input {
    background:#b19cd9;
    margin:2px;
    border:2px solid #b19cd9;
    color:white;
    transition:0.5s;
    border-radius:3px;
}
input:hover{
    color:#b19cd9;
    background: white;
    border:2px solid white;
}