<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./css/comments.css') }}">
    <title> Please no toxic ^_^ </title>
    <style type="text/css">
        
    </style>
</head>
<body>
    <a href="{{ url_for('index') }}" id="Home">Home</a>
    <div id="container">
        <div id="post">

            <div> {{ post.email_post }} </div>
            <div> {{ post.post_time.strftime('%m-%d-%Y') }} </div>
            <div>
                {% if post.file_path is not none %}
                    <img style="height:300px;max-width:300px;" src="../{{ post.file_path }}" alt="No pic">
                {% endif %}
            </div>

            <div> {{ post.item_name }} || {{ post.item_id }} </div>

        </div>
        </br>
        <div id="allComments">
        {% for line in data %}
        <div id="newComment">
            <div id="commentEmail">
                {{ line.commentor_email }}
                {{ line.item_id }}
            </div>
             <div id="commentData">
                {{ line.content }}
            </div>
        </div>
        {% endfor %}
        
        </br>
        <div id="commentBox">
            <form action="/commentsubmit/{{ postid }}" method="POST">
                <input type="text" name="content" placeholder="Comment" required/>
                <input type="submit" value="Comment">
            </form>
    </div>
    </div>
</body>
</html>