<!DOCTYPE html> 
<html lang="en">

<head>
	<title> YEEEEEEEEEE </title>
</head>
    <h1>Welcome
    {% if email %} 
        {{ email }} 
    {% endif %}</h1>
    {% if not email %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
    <style type="text/css">
    
    
        table,th, td {
            border: 1px solid black;
        }
    </style>
    
    <table>
        <th>ID</th>
        <th>Email</th>
        <th>Time</th>
        <th>File Path</th>
        <th>Post</th>
        
    {% for line in posts %}
        <tr>
            <td>{{ line.item_id }}</td>
            <td>{{ line.email_post }}</td>
            <td>{{ line.post_time }}</td>
            <td>{{ line.file_path }}</td>
            <td>{{ line.item_name }}</td>
        </tr>
    {% endfor %}
    </table>
    {% if email %}
        <a href="/logout">Logout</a>
    {% endif %}
</html>