<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<style type="text/css">
  #body {
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }
  #loginButton{
      border: none;
      color: white;
      background:#b2d0ff;
      border: 5px solid #b2d0ff;
      margin: 4px;
    }
    button {
      border: none;
      color:white;
      background: #b2d0ff;
      border:10px solid #b2d0ff;
    }

    button:hover {
      background: #85b1f7;
      border:10px solid #85b1f7;
    }
   	
</style>
<div id="body">
	<h1>PriCoSha</h1>
<form action="/loginAuth" method="POST">
	<br><input type="text" name = "userEmail" placeholder="email" required/></br>
	<br><input type="password" name= "password" placeholder="password" required/></br>
	<input type="submit" id="loginButton" value = Login  />
	{% if error %}
	    <p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}
</form> 
<a class="btn" href="{{ url_for('index') }}"><button>Cancel</button></a>
</div>