<html>
<body>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./css/login.css') }}">
<div id="body">
	<h1>PriCoSha</h1>
<form action="/loginAuth" method="POST">
	<br><input type="text" name = "userEmail" placeholder="email" required/></br>
	<br><input type="password" name= "password" placeholder="password" required/></br>
	<input type="submit" id="loginButton" value = Login  />
	{% if error %}
	    <p class="error"><strong>Error:</strong> {{ error }}</p>
	{% endif %}
</form> 
<a class="btn" href="{{ url_for('index') }}"><button>Cancel</button></a>
</div>
</body>
</html>