<!DOCTYPE html>
<html>
<head>
	<title>Creating a Group</title>
</head>
<body>
	<div id="container">
		<form action="/createNewGroup" method="POST">
			<a href="{{ url_for('index') }}" id="Home">Return Home</a>
			{% if displayNewGroup%}
			<br><input type="text" name="groupName" placeholder="Name of Group" required/>
			<br><input type="text" name="groupDesc" placeholder="Description of Group" required/>
			<input type="submit" value="AddMember" name="AddMember"/>
			{% if error %}
	    		<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
			{% endif %}
		</form>

		<form action="/addNewMember" method="POST">
			{% if displayAddMember%}
			<h2>Add Members to
        {{ dispGroupName }} </h2>
			<br>
			<input type="hidden" name="groupName" value="{{ dispGroupName }}">
			<input type="text" name="newMember" placeholder="add group member with email" required>
			<a href="{{ url_for('index') }}" id="Home">Done!</a>
			<input type="submit" name="submit_button" value="Add Member to Group">

			{% if error %}
	    		<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}

			{% endif %}

			{% if message%}
				<p class="message"><strong>Message:</strong> {{ message }} </p>
			{% endif %}
		</form>
		


	</div>

</body>
</html>