<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing is caring </title>
</head>
<body>

    {% for line in data %}
        <div>
            <form action="/shareAction" method="POST">
            {{ line.fg_name }}
            {{ line.owner_email }}

                <a id="groupsel" href="{{ url_for('shareAction', owner_email=line.owner_email, fg_name=line.fg_name, postid=postid) }}">
                    <input type="button" id="groupsel"> Select </button>
                </a>
            </form>

        </div>
    {% endfor %}

</body>
</html>