<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing is caring </title>
    <a href="{{ url_for('index') }}" id="Home">Return Home</a>

</head>
<body>
    <h3> Groups you can share to </h3>
    {% for line in data %}
        <div>
            <form action="/shareAction" method="POST">
                {{ line.fg_name }}
                {{ line.owner_email }}
                <a id="groupsel" href="{{ url_for('shareAction', owner_email=line.owner_email, fg_name=line.fg_name, postid=postid) }}">
                    <input type="button" id="groupsel"> Select </button>
                </a>
            </form>
        </br>
        </div>
    {% endfor %}

</body>
</html>